/* Style that will affect the entire page */
* {
    scroll-behavior: smooth;
}
/* Style for the majority of the page */
body {
    display: flex;
    flex-direction: column;
    background-color: #163950;
    color: #515a99;
    font-family: Arial, Helvetica, sans-serif;
}
/* Style for header and footer */
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2%; */
    border-width: 6px;
    background-color: #163950;
}
/* Style for the navigation bar */
nav li, footer li {
    display: inline;
}
/* Style for the main body */
main {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}
/* Style for my h1 through h3 */
h1 {
    font-size: x-large;
}
h2 {
    font-size: 24px;
    text-align: left;
    margin: 1% 2%;
}
h3 {
    text-align: right;
    margin: 2% 1%;
}
/* Gives the about me paragraph some room to breathe */
p {
    margin-right: 1%;
}
/* Style options for all pics other than prework study guide */
.myPic {
    max-width: 30%;
    max-height: 30%;
    margin: 0 15%;
    margin-right: 5%;
    float: left;
}
/* Style for the prework study guide pic */
.projectPic {
    max-width: 90%;
    max-height: 90%;
    margin: 0 5%;
}
.projectSS {
    max-width: 70%;
    max-height: 70%;
    margin: 0 5%;
    
}
/* Class to help me push the about me section's text to the right of the pic of me */
.myPicWithText {
    display: flex;
    align-items: center;
}

/* Stlye for the borders of the header and footer */
.hBorder {
    border-style: none none solid none; 
    padding: 1.5%; 
}
/* fBorder includes code to keep footer at the bottom of the page */
.fBorder {
    border-style: solid none none none;
    bottom: 0;
}